@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/manrope-400.eot');
  src: local(''),
    url('/fonts/manrope-400.eot?#iefix') format('embedded-opentype'),
    url('/fonts/manrope-400.woff2') format('woff2'),
    url('/fonts/manrope-400.woff') format('woff'),
    url('/fonts/manrope-400.ttf') format('truetype'),
    url('/fonts/manrope-400.svg#Manrope') format('svg');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/manrope-700.eot');
  src: local(''),
    url('/fonts/manrope-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/manrope-700.woff2') format('woff2'),
    url('/fonts/manrope-700.woff') format('woff'),
    url('/fonts/manrope-700.ttf') format('truetype'),
    url('/fonts/manrope-700.svg#Manrope') format('svg');
}
