// Do not use for styling elements.
// Technical variables.
:root {
  @include resizable-variable(base-font-size, $base-font-size, 360, 1920);
}

// Use for styling elements.
:root {
  --font-color-default: #fff;
  --font-color-default-animated: #fff;
  --font-color-link: #80b3ff;
  --font-color-focus: #164283;

  --background-level-1: #1a2a38;
  --background-level-1-hover: #{lighten(#1a2a38, 5%)};

  --background-level-2: #253746;
  --background-level-2-hover: #{lighten(#253746, 5%)};
}
