.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 150vh;
  user-select: none;
  background-color: rgba($color: #171a20, $alpha: .85);
  opacity: 1;
  transition: opacity .2s ease;

  &.hidden {
    opacity: 0;
    transition: opacity .2s ease-in;
  }
}