.inner-video {
  display: block;
  width: 100%;
}

.video-tip {
  transform-origin: center;
  transition: all .2s ease-out;

  &:hover, &:focus {
    transform: scale(1.1);
  }

  &.active {
    transform: scale(1.3);
    z-index: 5;
  }
  &.active-out {
    animation: zIndexOut .2s ease-out 1;
  }

  @keyframes zIndexOut {
    0%, 99% {
      z-index: 5;
    }
    100% {
      z-index: auto;
    }
  }
}

.video-tip-backdrop {
  @extend .backdrop;
  z-index: 4;
}