.logo {
  @include no-space-after-child-image();
  height: rem(23px);
  width: auto;

  > path {
    fill: var(--font-color-default-animated);
    transition: fill $transition-time-animated-color-change;
  }
}

.wrapper {
  @include no-space-after-child-image();
}
