.langSwitcher {
  display: inline-block;

  &__link {
    display: block;
    font-size: rem(12px);
    line-height: 1.2;
    color: var(--font-color-default);
    padding: rem(16px) rem(22px);
    text-align: right;
    opacity: 0.5;
    transition: opacity 0.2s;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}
