.videoOnPage {
  position: relative;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  pointer-events: none;
}

.videoWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  pointer-events: auto;
  transform: scale(1);
  transform-origin: left top;
  border-radius: 50%;
  transition: all 0.3s;

  &_readyForAnimation {
    will-change: max-height, border-radius, transform;
  }

  &_active {
    transform: scale(var(--scale, 1)) translateX(var(--offset-left, 0px))
      translateY(var(--offset-top, 0px));
    border-radius: var(--border-radius, $border-radius-6);
    max-height: var(--max-height, 100vh);
  }
}
