.homePage {
  padding-bottom: rem(22px);

  &__title {
    margin-top: rem(39px);
    display: flex;
    justify-content: center;
  }
  &__videoWrap {
    display: flex;
    justify-content: center;
    margin-top: rem(32px);
    position: relative;
    width: 100%;
    max-width: rem(400px);
    margin-left: auto;
    margin-right: auto;
  }
  &__video {
    width: rem(240px);
    height: rem(240px);
    position: relative;
  }
  &__videoButton {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
  }
  &__buttons {
    margin-top: rem(54px);
  }
}

.video {
  height: 100%;
  width: 100%;
  position: relative;

  &__arrow {
    position: absolute;
    width: rem(11px);
    height: rem(31px);
    bottom: rem(39px);
    right: rem(-5px);
    transform: translateX(100%);
    cursor: pointer;
  }
}

.buttons {
  max-width: rem(400px);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(-8px);
  margin-bottom: rem(-8px);

  &__button {
    padding-top: rem(8px);
    padding-bottom: rem(8px);
  }
}
